<% content_for "header" do %>
<meta name="description" content="<%= I18n.translate(locale, "An alternative front-end to YouTube") %>">
<title>
    Invidious - <%= I18n.translate(locale, "search") %>
</title>
<link rel="stylesheet" href="/css/empty.css?v=<%= ASSET_COMMIT %>">
<% end %>

<%= rendered "components/feed_menu" %>

<div class="pure-g h-box" id="search-widget">
    <div class="pure-u-1" id="logo">
        <h1 href="/" class="pure-menu-heading"><svg viewBox="0 0 28 20" width="52" height="38" aria-hidden="true" style="vertical-align:-16%"><rect width="28" height="20" rx="5" fill="#f00"/><path d="M11.2 5.2 19 10l-7.8 4.8z" fill="#fff"/></svg> ArikTube</h1>
    </div>
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1 pure-u-md-12-24 searchbar">
        <% autofocus = true %><%= rendered "components/search_box" %>
    </div>
    <div class="pure-u-1-4"></div>
</div>
